<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.KeyVault.Core" version="2.0.4" targetFramework="net461" />
  <package id="Microsoft.Azure.WebJobs" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Azure.WebJobs.Core" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="WindowsAzure.ServiceBus" version="4.1.10" targetFramework="net461" />
  <package id="WindowsAzure.Storage" version="9.2.0" targetFramework="net461" />
</packages>